:root {
  --DarkGrayishMagenta: hsla(303, 10%, 53%);
  --DarkGrayishMagentaOpacity: hsla(303, 10%, 53%, 0.2);
  --LightGrayishMagenta: hsl(300, 2%, 53%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  color: var(--LightGrayishMagenta);
}
.flex {
  display: flex;
}
.social-row {
  flex-direction: column;
}
/* typography */
.title {
  font-size: 2.75rem;
  margin-bottom: 1rem;
}
.title,
.rating-item--text {
  color: var(--VeryDarkMagenta);
  font-weight: 700;
}
.desc {
  line-height: 1.3rem;
}
.user-name {
  font-weight: 700;
  color: var(--White);
}
.user-status {
  color: var(--SoftPink);
}
/* layout styles */
.social-container {
  margin: 4rem 1.5rem;
}
.social-row--desc {
  text-align: center;
}
.rating {
  text-align: center;
  margin: 2rem 0;
}
.rating > * + * {
  margin-top: 1rem;
}
.rating-item {
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--DarkGrayishMagentaOpacity);

  padding: 0.8rem;
  border-radius: 0.5rem;
}
.card-container {
  gap: 1rem;
}
.profile-card--info {
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.profile-card--info img {
  border-radius: 50%;
  max-width: 3em;
}
.user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.starts {
  gap: 0.5rem;
  justify-content: center;
}

/* gernal card */
.profile-card {
  background-color: var(--VeryDarkMagenta);
  color: var(--DarkGrayishMagenta);
  padding: 2rem;
  border-radius: 0.5rem;
}
